.search-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.search-input {
  width: 500px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #631786;
  border-style: solid;
  border-color: #631786;
  border-radius: 10px;
  border-width: 5px;
  color: #d19de8;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  padding-right: 10px;
}

.checkbox {
  height: 30px;
  width: 30px;
}
.checkbox:hover {
  cursor: pointer;
}

.searchOption {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dropDown {
  font-size: large;
  height: 30px;
  width: 120px;
}

.dropDown:hover {
  cursor: pointer;
}

.textOverlay {
  font-size: large;
  height: 30px;
  width: 230px;
}
.FontSizeNum {
  font-size: large;
  height: 30px;
  width: 100px;
}
.searchOptionsGroup {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #631786;
  color: #d19de8;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
}

.submit {
  margin: 50px;
  width: 500px;
  height: 100px;
  background-color: #631786;
  color: #d19de8;
  font-size: 40px;
  border-radius: 10px;
  border-width: 0px;
}

.submit:hover {
  cursor: pointer;
}
.FontColorBox:hover {
  cursor: pointer;
}
